.frame_1_31_63 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	 width:428px;
	height:921px; 
	position:absolute;
}

.text-center {
    text-align: center !important
}

.transcription_31_69 { 
	color:rgba(0, 0, 0, 1);
	width:390px;
	height:77px;
	position:absolute;
	left:18px;
	top:147px;
	font-family:Open Sans;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.translate_31_70 { 
	color:rgba(0, 0, 0, 1);
	width:390px;
	height:52px;
	position:absolute;
	left:18px;
	top:224px;
	font-family:Open Sans;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.engwords_31_71 { 
	color:rgba(0, 0, 0, 1);
	width:390px;
	height:69px;
	position:absolute;
	left:18px;
	top:78px;
	font-family:Open Sans;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.footer_31_72 { 
	color:rgba(0, 0, 0, 1);
	width:189px;
	height:30px;
	position:absolute;
	left:125px;
	top:891px;
	font-family:Open Sans;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.sharp_button_31_155 { 
	width:428px;
	height:83px;
	position:absolute;
	left:0px;
	top:527px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.onclick_default_31_147 { 
	width:140px;
	height:51px;
	position:absolute;
	left:25px;
	top:-511px;
}
.button_31_145 { 
	background-color:rgba(47.01562575995922, 122.01750218868256, 191.25, 1);
	width:140px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
}
.try_it_for_free_31_146 { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:11px;
	position:absolute;
	left:50px;
	top:20px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:16;
}
.onclick_new_value_31_150 { 
	width:140px;
	height:51px;
	position:absolute;
	left:262px;
	top:-511px;
}
.button_31_151 { 
	background-color:rgba(16.68780203908682, 151.93750709295273, 13.927604500204325, 0.699999988079071);
	width:140px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
}
.try_it_for_free_31_152 { 
	color:rgba(255, 255, 255, 1);
	width:33px;
	height:11px;
	position:absolute;
	left:46.5px;
	top:20px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:16;
}
.arrow_31_153 { 
	width:5px;
	height:7px;
	position:absolute;
	left:88.5px;
	top:22px;
}
.vector_31_154 { 
	background-color:rgba(255, 255, 255, 1);
	width:5px;
	height:7px;
	position:absolute;
	left:2px;
	top:0px;
}
.currnumber_31_157 { 
	color:rgba(0, 0, 0, 1);
	width:41px;
	height:11px;
	position:absolute;
	left:25px;
	top:892px;
	font-family:Anonymous Pro;
	text-align:left;
	font-size:10px;
	letter-spacing:16;
}
